<?xml version="1.0" encoding="UTF-8"?>
<suite name="RDBMS Analytics Data Source Test Suite" parallel="false" preserve-order="true" thread-count="1">

    <test name="Analytics Core Tests">
        <classes>
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.mysql.MySQLAnalyticsRecordStoreTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.mysql.MySQLAnalyticsDataServiceTest"/>-->
            <class name="com.wso2.test.FlinkTest"/>
            <class name="com.wso2.test.DASInputFormatTest"/>
            <!--class name="org.wso2.carbon.analytics.datasource.rdbms.AnalyticsSparkSQLTest"/-->
            <!--class name="org.wso2.carbon.analytics.datasource.rdbms.AnalyticsSparkSQLUITest"/-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.oracle.OracleAnalyticsRecordStoreTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.oracle.OracleAnalyticsDataServiceTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.mssql.MSSQLAnalyticsRecordStoreTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.mssql.MSSQLAnalyticsDataServiceTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.postgre.PostgreSQLAnalyticsRecordStoreTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.postgre.PostgreSQLAnalyticsDataServiceTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.db2.DB2AnalyticsRecordStoreTest"/>-->
            <!--<class name="org.wso2.carbon.analytics.datasource.rdbms.db2.DB2AnalyticsDataServiceTest"/>-->
        </classes>
    </test>
</suite>
